body {
  margin: 0;
  padding: 0;
}
header {
  height: 70px;
  width: 100%;
  background-color: blue;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
}

.sub {
  height: 150px;
  width: 100%;
  background-color: pink;
  margin-top: 70px;
}

.list {
  margin-top: 100px;
  margin-left: 50px;
}
table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
}

form {
  margin-left: 50px;
}
